<form method="post" action="{{ path('app_profile_delete', {'id': user.id}) }}" onsubmit="return confirm('Supprimer mon profil ? Toutes vos données seront supprimées !');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
	<button class="btn btn-danger rounded-pill">Supprimer</button>
</form>
