<section class="card mb-3">
	<div class="card-body">
		<div class="d-flex align-items-center justify-content-between">
			<h2 class="card-title">
				<span class="text-muted">{{ user.myBlockedUsers|length }}</span>
				Bloqués
			</h2>
			{% if user.myBlockedUsers|length > 0 %}
				<a href="{{ path('app_friend_blocked') }}" class="btn btn-primary rounded-pill">Voir ...</a>
			{% endif %}
		</div>
	</div>
</section>
