<section class="card mb-3">
	<div class="card-body">
		<h2 class="card-title">
			<span class="text-muted">{{ user.myFriendUsers|length }}</span>
			Suivis
		</h2>

		<div class="row d-flex flex-row p-3">
			{% for friend in user.myFriendUsers %}
				<div class="col-6">
					{{ component('UserCard', { user: friend }) }}
				</div>
			{% else %}
				Aucun utilisateur suivi !
			{% endfor %}
		</div>
	</div>
</section>
