<section class="card mb-3">
	<div class="card-body">
		<div class="d-flex align-items-baseline justify-content-between">
			<h2 class="card-title">
				{{ user.myFriendUsers|length }}
				suivis
				<span class="text-muted fw-lighter fs-5">
					{{ user.myBlockedUsers|length }}
					bloqués
				</span>
			</h2>
			{% if user.myFriendUsers|length > 0 %}
				<a href="{{ path('app_friend_relation') }}" class="btn btn-primary rounded-pill">Relations</a>
			{% endif %}
		</div>
	</div>
</section>
