<section class="card">
	<div class="card-body">
		<h2 class="card-title">
			<span class="text-muted">{{ user.myBlockedUsers|length }}</span>
			Bloqués
		</h2>

		<div class="row d-flex flex-row p-3">
			{% for blocked in user.myBlockedUsers %}
				<div class="col-4">
					{{ component('UserCard', { user: blocked }) }}
				</div>
			{% else %}
				Aucun utilisateur bloqué !
			{% endfor %}
		</div>
	</div>
</section>
