<section class="card mb-3">
	<div class="card-body">
		<div class="d-flex align-items-baseline justify-content-between">
			<h2 class="card-title">
				Contributeurs
			</h2>
			<a href="https://gofund.me/bb043beb" class="btn btn-primary rounded-pill">Faire un don</a>
		</div>
	</div>
</section>
