{% extends 'base.html.twig' %}

{% block title %}Editer mon profil
{% endblock %}

{% block body %}
	<section class="card">
		<div class="card-header">
			<h1 class="card-title">Editer mon profil</h1>
			<a href="{{ path('app_profile_index') }}" class="btn btn-primary rounded-pill">Retour</a>
		</div>
		<div class="card-body">
			{{ include('profile/_form.html.twig', {'button_label': 'Enregistrer'}) }}
		</div>
		<div class="card-body text-end">
			{{ include('profile/_delete_form.html.twig') }}
		</div>
	</section>
{% endblock %}
