{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-6">
			{% include "profile/_profile_card.html.twig" %}
		</div>
		<div class="col-lg-6">
			{% include "profile/_index_setting.html.twig" %}
			{% include "profile/_index_follow.html.twig" %}
			{% include "profile/_index_blocked.html.twig" %}
		</div>
	</div>
	{% include "shared/_footer.html.twig" %}
{% endblock %}
