{% extends 'base.html.twig' %}

{% block title %}Hors connexion
{% endblock %}

{% block body %}
	<section class="card">
		<div class="card-header">
			<h1 class="card-title">Hors connexion</h1>
		</div>
		<div class="card-body">
			<p>
				Il semblerait que vous soyez hors connexion.
				<br>
				Verifiez vous connexion internet et réactualisez cette page.
			</p>
		</div>
	</section>
{% endblock %}
