<section class="my-4" style="height: 100vh">
    <div class="d-flex align-items-center justify-content-center" style="height: 50vh">
        <div class="text-center">
            <h1>OrganiZe</h1>
            <p>Partenaires d'aventures</p>
        </div>
    </div>
    <div>
        <hr>
        <h2 class="h1">Trouve des partenaires dans <span class="text-muted">{{ activities|length }} activités</span></h2>
        {% for activity in activities %}
            <button class="m-2 btn btn-light">{{ activity.name|title }}</button>
        {% endfor %}
    </div>
</section>