<section class="p-4 col-md-10 mx-auto text-center reveal">
	<div class="row">
		<div class="col-md-6 px-2">
			<a href="{{ path('app_search_index') }}" class="btn btn-warning rounded-pill fs-4 w-100">
				Explorer les sorties
			</a>
		</div>
		<div class="col-md-6 px-2">
			<a href="{{ path('app_register') }}" class="btn btn-primary rounded-pill fs-4 w-100">
				Créer un compte
			</a>
		</div>
	</div>
	<div id="installAppContainer" class="col-md-6 mx-auto d-none" data-controller="install-app">
		<button id="installApp" class="btn btn-success rounded-pill fs-4 w-100">
			Installer
		</button>
	</div>
</section>
