<section class="py-4 mb-3 col-8 mx-auto text-center reveal">
	<div class="row">
		<div class="col-md-6 px-2  my-1">
			<a href="{{ path('app_search_index') }}" class="btn btn-warning rounded-pill fs-4 w-100">
				Explorer les sorties
			</a>
		</div>
		<div class="col-md-6 px-2  my-1">
			<a href="{{ path('app_register') }}" class="btn btn-primary rounded-pill fs-4 w-100">
				Créer un compte
			</a>
		</div>
	</div>
</section>
