<section class="py-4 mb-3 col-8 mx-auto text-center reveal">
	<div class="row">
		<div class="col-md-3 px-2 my-1">
			<a href="{{ path('app_search_index') }}" class="btn btn-warning rounded-pill w-100">
				Explorer le planning
			</a>
		</div>
		<div class="col-md-3 px-2 my-1">
			<a href="{{ path('app_map_index') }}" class="btn btn-success rounded-pill w-100">
				Explorer la carte
			</a>
		</div>
		<div class="col-md-3 px-2 my-1">
			<a href="{{ path('app_faq') }}" class="btn btn-info rounded-pill w-100">
				Foire aux questions
			</a>
		</div>
		<div class="col-md-3 px-2 my-1">
			<a href="{{ path('app_register') }}" class="btn btn-primary rounded-pill w-100">
				Créer un compte
			</a>
		</div>
	</div>
	{# <div class="col-md-3 px-2 my-1">
				<button id="install" type="button" class="btn btn-danger rounded-pill fs-5 w-100" data-controller="install">
					Installer
				</button>
			</div> #}
</section>
