<div class="py-5">
	<section class="py-4 col-8 mx-auto text-center reveal">
		<h1 class="text-warning">Soutenir le projet</h1>
		<p class="py-4">
			En participant vous soutenez le concept, financez le temps de développement, l'hébergement du site internet, le développement de nouvelles fonctionnalités.
			<br>
			Vous faites en sorte que ce projet puisse être accessible à tous.
		</p>

		<a href="https://gofund.me/bb043beb" class="btn btn-primary rounded-pill fs-4 p-3">Je fais un don</a>
	</section>
</div>
