<div class="py-5">
	<section class="p-4 col-md-6 mx-auto text-center reveal">
		<h2 class="fs-1">Soutenir le projet</h2>
		<p class="py-4">
			Une application made in Briançon, Hautes-Alpes
			<br>
			En participant vous financez
			<br>
			<br>
			Le travail de développement
			<br>
			L'hébergement du site internet
			<br>
			La création de nouvelles fonctionnalités
			<br>
			<br>
			Vous faites en sorte que ce projet puisse être accessible à tous
		</p>

		<a href="https://gofund.me/bb043beb" class="btn btn-primary rounded-pill fs-4">Je fais un don</a>
	</section>
</div>
