<div class="bg-light py-5">
	<section class="py-4 col-8 mx-auto text-center">
		<h1>Soutenir le projet</h1>
		<p>Vous pouvez participer au développement, à l'hébergement et au maintient de l'application à hauteur de vos moyens !</p>

		<a href="https://gofund.me/bb043beb" class="btn btn-primary rounded-pill fs-3 p-3">Faire un don</a>
	</section>
</div>
