<div class="container mt-5 py-5">
	<section class="col-md-10 col-lg-6 mx-auto text-center reveal position-relative card shadow">
		<div class="card-body">
			<h2 class="fs-1 title">
				Soutenir le projet
				<i class="fa-solid fa-heart text-danger fs-1"></i>
			</h2>
			<p class="py-4">
				Une application made in Briançon, Hautes-Alpes
				<br>
				Faites en sorte que ce projet puisse être accessible à tous
			</p>
			<a href="https://gofund.me/bb043beb" class="btn btn-primary rounded-pill fs-4">Je fais un don</a>
		</div>
	</section>
</div>
