<div class="container py-4 mb-3 col-md-10 col-lg-6 mx-auto ">
	<section class="card text-center reveal">
		<div class="card-body">
			<h2 class="fs-1 title">
				Soutenir
				<i class="fa-solid fa-heart text-danger fs-1"></i>
			</h2>
			<p class="pt-4">
				Une application made in Briançon, Hautes-Alpes
				<br>
				Faites partie des contributeurs qui font vivre ce projet
				<br>
				<b>Partagez</b>
				dans vos réseaux
			</p>
			<a href="https://gofund.me/bb043beb" class="btn btn-primary rounded-pill">Faire un don</a>
		</div>
	</section>
</div>
