{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block main %}
	{% include "home/_header.html.twig" %}
	{% include "home/_feature.html.twig" %}
	{% include "home/_start.html.twig" %}
	{% include "home/_support.html.twig" %}
	<div class="d-block d-md-none">
		{% include "shared/_footer.html.twig" %}
	</div>
{% endblock %}
