<h1>
	Bienvenue
	{{ username }}
	!
</h1>

<p>
	Tu t'es enregistré avec l'email suivant
	<br>
	<code>{{ email.to[0].address }}</code>
</p>

<p>
	Merci de vérifier ton email en cliquant sur ce lien avant de pouvoir te connecter
	<br>
	<a href="{{ signedUrl|raw }}">Confirmer mon email</a>. Ce lien expire dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>OrganiZe</p>
