{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}
	<section>
		<h1>Mention légales</h1>
		{% for legal in legals %}
			<h2>{{ legal.title|title }}</h2>
			<p>{{ legal.content|nl2br }}</p>
		{% endfor %}
	</section>
{% endblock %}
