{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}
	<section>
		<h1>Mention légales</h1>
		{% for legal in legals %}
			<div class="p-5">
				<h2 class="text-primary">{{ legal.title|title }}</h2>
				<p>{{ legal.content|raw }}</p>
			</div>
		{% endfor %}
	</section>
{% endblock %}
