{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block body %}
    <section class="card m-3">
            <div class="card-header">
                <h1>Créer une sortie</h1>
                <a href="{{ path('app_trip_index') }}">Retour</a>
            </div>
            <div class="card-body">
                {{ include('trip/_form.html.twig') }}
            </div>
        </div>
    </section>

{% endblock %}
