{% extends 'base.html.twig' %}

{% block title %}
	{{ trip.title|capitalize }}
{% endblock %}

{% block body %}
	<div class="row">
		<div
			class="col-md-6 order-last order-md-first mb-3">
			{# Show trip details #}
			{% include "trip/_info.html.twig" %}
		</div>
		<div
			class="col-md-6 mb-3">
			{# Recharge uniquement la request_card #}
			<turbo-frame
				id="request_card">
				{# Show requests for the trip #}
				{% include "trip/_requests.html.twig" %}
			</turbo-frame>
		</div>
	</div>
{% endblock %}
