{% extends 'base.html.twig' %}

{% block title %}Trip
{% endblock %}

{% block body %}
	{# <div class="my-2">
		<a href="{{ path('app_planning_index') }}" class="btn btn-link">Mon planning</a>
	</div> #}
	<div class="row">
		<div class="col-md-6">
			{# Show trip details #}
			{% include "trip/_info.html.twig" %}
		</div>
		<div class="col-md-6">
		{# Recharge uniquement la request_card #}
			<turbo-frame id="request_card">
				{# Show requests for the trip #}
				{% include "trip/_requests.html.twig" %}
			</turbo-frame>
		</div>
	</div>
{% endblock %}