{% extends 'base.html.twig' %}

{% block title %}Foire aux questions
{% endblock %}

{% block body %}
	<section class="card">
		<div class="card-header">
			<h1 class="card-title">Foire aux questions</h1>
		</div>
		<div class="card-body">
			{% for faq in faqs %}
				<div class="p-3">
					<h2 class="text-primary">{{ faq.title|title }}</h2>
					<p>{{ faq.content|raw }}</p>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
