{% extends 'base.html.twig' %}

{% block title %}Trips this week
{% endblock %}

{% block body %}
	<turbo-frame id="searchForm">
		<section class="card">
			<div class="card-header bg-primary bg-opacity-10">
				{% include "search/_form.html.twig" %}
			</div>
			<div class="card-body">
				{% include "table/_table.html.twig" %}
			</div>
			<div class="d-flex align-items-baseline justify-content-end me-3 mb-3">
				<p class="me-2">
					Légende :
				</p>
				<div class="btn-group" role="group" aria-label="Activity">
					<button type="button" class="btn btn-primary" disabled>
						Activité
					</button>
					<button type="button" class="btn btn-primary position-relative">
						Titre de la sortie
					</button>
				</div>
			</div>
		</section>
	</turbo-frame>
{% endblock %}
