{% extends 'base.html.twig' %}

{% block title %}Trips this week
{% endblock %}

{% block body %}
	<turbo-frame id="searchForm">
		<section class="card my-3">
			<div class="card-body">
				{% include "search/_form.html.twig" %}
			</div>
		</section>
		<section class="card">
			<div class="card-body bg-primary bg-opacity-10">
				<h1>{{ trips|length }} <span class="text-muted">Sorties</span></h1>
			</div>
			<div class="card-body">
				{% include "table/_table.html.twig" %}
			</div>
		</section>
	</turbo-frame>
{% endblock %}