body {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, .title {
    // color: #464b69;
    color: #31364a;
}

.btn {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.reveal{
    position: relative;
    transform: scale(0.8);
    opacity: 0;
    transition: 0.8s all ease;
}

.reveal.active{
    transform: scale(1);
    opacity: 1;
}

.text-shadow {
    text-shadow: 0 0 5px #fff;
}

// Backgrounds
.background {
    // background-image: linear-gradient(140deg, #f0f4f9 20%, #d4e2d4 100%);
    // background-image: linear-gradient(140deg, #80CBC422 20%, #80CBC488 100%);
    // background-image: linear-gradient(140deg, #f0f4f9 80%, #d9e0e9 100%);
    background-color: #f0f4f9;
}

// .background-nav {
//     background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 69%);
// }

.background-footer {
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 69%); 
}

@media (min-width: 992px) {
    #features {
        margin-top: -10rem;
    }
}

// Link color on navbar small mobile
#nav_small .nav-link {
    color: #f9f9f9;
}

// Calculate full height container
#main_container {
    min-height: 90vh; /* Fallback for browsers that do not support Custom Properties */
    /* --vh in SW initialize, 2rem padding container*/
    min-height: calc(var(--vh) - 2rem) ;
}

// Bootstrap vars
// My Colors
$primary: #345995;
$success:  #80CBC4;
$info:  #82AAFF;
$warning: #ffcb6b;
$danger: #ff5572;

// Active Shadows
$enable-shadows: true;

// Card
$card-border-radius: 2rem;
$card-border-width: 0px;
$card-title-color: #31364a;
$card-cap-bg: #ffffff;
$card-cap-padding-x: 1rem;
$card-cap-padding-y: 1rem;
$card-bg: #ffffff;
// $card-box-shadow: 0 5px 10px #0000001a;

// shadow
$box-shadow: 0 5px 10px #0000001a;

// Alert
$alert-border-radius: 1rem;

// Nav
$nav-pills-border-radius: 2rem;

// Scss Bootstrap - CORRECT
@import '../../vendor/twbs/bootstrap/scss/bootstrap';

// Scss photon geocoder custom - CORRECT
@import './photon-geocoder-autocomplete.scss';

