/* body {
    background-color: #f6f6f6;
} */
@import './photon-no-map.scss';

h1, h2, h3, .title {
    color: #464b69;
    // color: #34495e;
}

.btn {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.reveal{
  position: relative;
//   transform: translateY(150px);
  transform: scale(0.8);
  opacity: 0;
  transition: 0.8s all ease;
}
.reveal.active{
//   transform: translateY(0);
  transform: scale(1);
  opacity: 1;
}

.text-shadow {
  text-shadow: 0 0 5px #fff;
}

.background {
  background-image: linear-gradient(140deg, #f0f4f9 20%, #d4e2d4 100%);
}

.background-nav {
  background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 69%);
}

.background_footer {
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 69%); 
}

// .photon-autocomplete {
  // border-radius: 1rem;
// }

@media (min-width: 992px) {
    #features {
        margin-top: -10rem;
    }
}


// My Colors
// $primary: #345995;
// $secondary: #adb5bd;
// $danger: #ca1551;
// $success: #8ac926;
// $warning: #ffbc42;
// $light: #f9f9f9;
// $info: #1982c4;
// $dark: #10002b;


$primary: #345995;
$secondary:  #aeb6bf;
$success:  #80CBC4;
$info:  #82AAFF;
$warning: #ffcb6b;
// $warning: #F78C6C;
$danger: #ff5572;
$light: #f9f9f9;
$dark: #697098;



// Active Shadows
// $enable-shadows: true;

// Card
$card-border-radius: 2rem;
$card-border-width: 0px;
// $card-cap-bg: #eaeef4;
$card-cap-bg: #ffffff;
$card-cap-padding-x: 1rem;
$card-cap-padding-y: 1rem;
// $card-box-shadow: 0 5px 10px #0000001a;
$card-title-color: #464b69;

// Alert
$alert-border-radius: 1rem;


// Scss Bootstrap - CORRECT
@import '../../vendor/twbs/bootstrap/scss/bootstrap';
