      /* Normalize box-sizing */
      div, ul, li {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
      }
      ol, ul {
          list-style: outside none none;
      }      
      small {
          font-size: smaller;
      }
      /* Style input */
     input[type="search"], input[type="search"]:focus {
          /* background-color: white;
          border: 1px solid #e5e5e5;
          border-radius: 6px;
          color: #343a40;
          display: block;
          padding: 7px; */
          width: 100%; 
      }
/* 
      input[type="search"]:focus {
        border: 1px solid #bad5fc;
        outline: 5px solid #0d6dfd49;
        outline-offset: -1px;
      } */

      /* Set parameters on controls (geocoder and reverse)*/
      input.photon-input {
          width: 100%;
      }
