{% extends 'base.html.twig' %}

{% block title %}Planning
{% endblock %}

{% block body %}
	<section class="card">
		<div class="card-header">
			<h1>Mon planning</h1>
			<div class="row justify-content-between">
				<div class="col-md-auto me-auto my-2">

					<button class="disabled btn rounded-pill">
						Sorties
					</button>
					<a href="{{ path('app_planning_index')}}" class="btn btn-primary rounded-pill">
						Toutes
					</a>
					<a href="{{ path('app_planning_index', {'f': 'created'})}}" class="btn btn-primary rounded-pill">
						Crées
					</a>
					<a href="{{ path('app_planning_index', {'f': 'requests'})}}" class="btn btn-primary rounded-pill">
						Demandées
					</a>
				</div>
				<div class="col-md-auto my-2">
					<a href="{{ path('app_trip_new') }}" class="btn btn-primary rounded-pill">
						Nouvelle sortie
					</a>
				</div>
			</div>
		</div>
		<div class="card-body">
			{% include "table/_table.html.twig" %}
		</div>
		<div class="d-flex justify-content-end me-3 mb-3">
			<div>
				Légende :
				<button class="btn btn-outline" disabled="disabled">Mes demandes</button>
				<button class="btn btn-info" disabled="disabled">Attente</button>
				<button class="btn btn-success" disabled="disabled">Acceptée</button>
				<button class="btn btn-secondary" disabled="disabled">Refusée</button>
			</div>
		</div>
	</section>

{% endblock %}
