{% extends 'base.html.twig' %}

{% block title %}Planning
{% endblock %}

{% block body %}
	<section class="my-2">
    	<h1>Mon planning</h1>
		<div class="">
			
		</div>
		<div class="row justify-content-between">
			<div class="col-md-auto me-auto my-2">

				<button class="disabled btn">
					Filter trips
				</button>
				<a href="{{ path('app_planning_index')}}" class="btn btn-primary">
					All
				</a>
				<a href="{{ path('app_planning_index', {'f': 'created'})}}" class="btn btn-primary">
					Created
				</a>
				<a href="{{ path('app_planning_index', {'f': 'requests'})}}" class="btn btn-primary">
					Requested
				</a>
			</div>
			<div class="col-md-auto my-2">
				<a href="{{ path('app_trip_new') }}" class="btn btn-primary">
					Create new trip
				</a>
			</div>
		</div>
		<hr>
		{% include "table/_table.html.twig" %}
	</section>

{% endblock %}
