{% extends 'base.html.twig' %}

{% block title %}Planning
{% endblock %}

{% block body %}
	<section class="card">
		<div class="card-header">
			<div class="row justify-content-between">
				<div class="col-auto me-auto">
					<h1 class="card-title">Mes Sorties</h1>
				</div>
				<div class="col-auto">
					<a href="{{ path('app_trip_new') }}" class="btn btn-success rounded-pill">
						Nouvelle sortie
					</a>
				</div>
			</div>
			<div class="col-md-auto me-auto my-2">
				<a href="{{ path('app_planning_index')}}" class="btn btn-primary rounded-pill">
					Toutes
				</a>
				<a href="{{ path('app_planning_index', {'f': 'created'})}}" class="btn btn-primary rounded-pill">
					Crées
				</a>
				<a href="{{ path('app_planning_index', {'f': 'requests'})}}" class="btn btn-primary rounded-pill">
					Demandées
				</a>
			</div>
		</div>
		<div
			class="card-body">
			{# {% include "table/_table.html.twig" %} #}
			{% include "table/_plan.html.twig" %}
		</div>
		<div class="row m-3">
			<div class="col-auto me-auto"></div>
			<div class="col-auto">
				<span class="me-2">Légende</span>
				<button class="btn btn-info rounded-pill me-1" disabled="disabled">Attente</button>
				<button class="btn btn-success rounded-pill me-1" disabled="disabled">Acceptée</button>
				<button class="btn btn-secondary rounded-pill me-1" disabled="disabled">Refusée</button>
			</div>
		</div>
	</section>

{% endblock %}
