<turbo-frame id="request_card">
    <section class="card">
        <div class="card-body">
            {# <turbo-frame id="request_status"> #}
                {# Status of the request #}
                {% include "trip_request/_status.html.twig" %}
            {# </turbo-frame> #}
        </div>

        {% if tripRequest.status != 'REFUSED' %}
            <hr class="">
            <div class="card-body">
                {# <turbo-frame id="message_list"> #}
                    {# Collection of messages associates to the trip request #}
                    {% include "trip_request/_message_list.html.twig" %}
                    {# Message form #}
                    {% include "message/_form.html.twig" %}
                {# </turbo-frame> #}
            </div>
        {% endif %}
    </section>
</turbo-frame>