<form method="post" action="{{ path('app_trip_request_delete', {'id': tripRequest.id}) }}" onsubmit="return confirm('Supprimer ma demande ?');" data-turbo-frame="_top">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tripRequest.id) }}">
	<button class="btn btn-danger rounded-pill">Supprimer</button>
</form>
