<div class="card">
    <div class="card-body">
        <img src="https://placehold.co/50" alt="{{ user.pseudo|title }}" class="rounded-circle me-2">
        <a href="{{ path('app_profile_show', {slug: user.slug}) }}">{{ user.pseudo|title }}</a>
    </div>
</div>