<div class="">
	<footer class="bg-white border-top py-4">
		<ul class="nav justify-content-center py-3">
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-body-secondary">About</a>
			</li>
		</ul>
		<p class="text-center text-body-secondary">
			OrganiZe -
			<span class="text-muted">&copy; 2024 Création
				<a href="https://wa.me/33676201257">
					Mattéo Dauchez
				</a>
			</p>
		</p>
	</footer>
</div>
