<div class="">
	<footer class="bg-white border-top py-4">
		<ul class="nav justify-content-center py-3">
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-body-secondary">About</a>
			</li>
		</ul>
		<p class="text-center text-body-secondary">&copy; 2023 OrganiZe - Création Mattéo Dauchez</p>
	</footer>
</div>
