<footer class="py-4 background-footer">
	<ul class="nav justify-content-center py-3">
		<li class="nav-item">
			<a href="{{ path('app_home') }}" class="nav-link px-2 text-body-secondary">Accueil</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('app_faq') }}" class="nav-link px-2 text-body-secondary">FAQs</a>
		</li>
	</ul>

	<p class="text-center text-body-secondary">
		&copy; OrganiZe 2024 &ensp;
		<a href="{{ path('app_legal') }}" class="text-body-secondary text-decoration-none">Mentions légales</a>
		&ensp;
		<a href="{{ path('app_cgu') }}" class="text-body-secondary text-decoration-none">CGU</a>
		&ensp;
		<a href="https://www.facebook.com/profile.php?id=61558213830729" class="text-body-secondary text-decoration-none">
			<i class="fa-brands fa-facebook fs-4"></i>
		</a>
	</p>
</footer>
