<div class="">
	<footer class="bg-white border-top py-4">
		<ul class="nav justify-content-center py-3">
			<li class="nav-item">
				<a href="{{ path('app_legal') }}" class="nav-link px-2 text-body-secondary">Mentions légales</a>
			</li>
			{# <li class="nav-item">
																																		<a href="#" class="nav-link px-2 text-body-secondary">A propos</a>
																																	</li> #}
		</ul>
		<p class="text-center text-body-secondary">
			&copy; OrganiZe 2024
			<br>
			<span class="text-muted">Création Mattéo Dauchez</span>
		</p>
		<div class="text-center small">
			<a href="https://wa.me/33676201257">Whatsapp</a>
			-
			<a href="https://www.malt.fr/profile/matteodauchez">malt</a>
			-
			<a href="https://www.linkedin.com/in/matteo-dauchez-96b4262b5/">Linkedin</a>
		</div>
	</footer>
</div>
