<section class="alert alert-info">
    <h3>Info</h3>
    <div class="d-flex justify-content-between align-items-baseline">
        <p>
            Une sortie est déjà prévu ce jour ! Abonne-toi pour en faire plus.
        </p>
        <a href="" class="btn btn-info">S'abonner</a>
    </div>
</section>
