<section
	class="alert alert-info">
	{# <div class="d-flex justify-content-between align-items-baseline"> #}
	<i class="fa-solid fa-circle-info fa-xl"></i>
	Une sortie est déjà prévue ce jour-ci !
{# Abonne-toi pour en faire plus. #}
	{# <a href="" class="btn btn-info">S'abonner</a> #}
	{# </div> #}
</section>
