<section class="alert alert-info">
    <h3>Info</h3>
    <p>
        Une sortie est déjà prévu ce jour !
        <br><br>
        Abonne-toi pour en faire plus.
    </p>
    <a href="" class="btn btn-info">S'abonner</a>
</section>
