{# On recherche les demandes lieés aux trip #}
{% for tripRequest in trip.tripRequests %}
	{# Si user est le créateur du trip ou de la demande #}
	{% if app.user == trip.member or app.user == tripRequest.member %}
		{# On recherche les messages lieés aux demandes #}
		{% for message in tripRequest.messages %}
			{# Si le message n'est pas lu #}
			{# Si le message n'est pas écrit par user #}
				{% if message.member != app.user and message.isRead == false %}
					<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger rounded-circle"> <span class="visually-hidden">New message</span>
				</span>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}
