<div class="">
	{% for date, trips in calendar %}
		{% if trips|length > 0 %}
			<div class="border-bottom mb-2">{{ date|format_datetime(pattern='dd MMM', locale='fr') }}</div>
		{% endif %}
		{# <div class="row"> #}
		{% for trip in trips %}

			<div
				class="mx-2">
				{# {{ component('PlanningCard', { trip: trip }) }} #}
				{% include 'table/_plan_card.html.twig' %}
			</div>

		{% endfor %}
		{# </div> #}
	{% endfor %}
</div>
