{% extends 'base.html.twig' %}

{% block title %}Utilisateurs bloqués
{% endblock %}

{% block body %}
	<section class="card">
		<div class="card-header">
			<h1 class="card-title">
				<span class="text-muted">{{ app.user.myBlockedUsers|length }}</span>
				bloqués
			</h1>
		</div>
		<div class="card-body row">
			{% for friend in friends %}
				<div class="col-md-6 col-lg-3">
					{{ component('UserCard', { user: friend.friend }) }}
				</div>
			{% endfor %}
		</div>
	</section>

{% endblock %}
