{% extends 'base.html.twig' %}

{% block title %}Utilisateurs suivis
{% endblock %}

{% block body %}
	<section class="card mb-3">
		<div class="card-body row">
			<h1 class="card-title">
				{{ app.user.myFriendUsers|length }}
				suivis
			</h1>
			{% for f in followed %}
				<div class="col-md-6 col-lg-3">
					{{ component('UserCard', { user: f.friend }) }}
				</div>
			{% endfor %}
		</div>
	</section>

	<section class="card mb-3">
		<div class="card-body row">
			<h1 class="card-title fw-lighter">
				{{ app.user.myBlockedUsers|length }}
				bloqués
			</h1>
			{% for b in blocked %}
				<div class="col-md-6 col-lg-3">
					{{ component('UserCard', { user: b.friend }) }}
				</div>
			{% endfor %}
		</div>
	</section>

{% endblock %}
