{% extends '@email/default/notification/body.html.twig' %}

{% block action %}
	<button href="{{ url }}" class="rounded">{{ message }}</button>
{% endblock %}


{% block footer %}
	<p>
		<small>Changement de mot de passe</small>
	</p>
{% endblock %}
