{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
	<container>
		<row>
			<columns>
				{{ message|raw|nl2br }}
			</columns>
		</row>
	</container>
{% endblock %}

{% block action %}
	<button href="{{ site_url }}" class="rounded">
		Aller sur
		{{ site_name }}
	</button>
{% endblock %}

{% block footer %}
	<p>
		<small>Notification</small>
	</p>
{% endblock %}
